/*todo esto es del index, por si no te habias dado cuenta*/

/*el fondo, no tocar*/ 
body {
    background-color: #ffffeb;
}

/*titulo y subtitulo, por si no quedaba claro por el nombre de las clases*/


.header {
  position: relative;
}

.ink-stain-left {
  width: 22vw;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -3vh;
  margin-left: -2vh;
}

.ink-stain-rigth {
  width: 22vw;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -3vh;
  margin-right: -2vh;
}

.start-tittle-relative{
  padding-top: 3vw;
}

.tittle {
  width: 40vw;
  height: auto;
  display: block;
  margin-top: 2vh;
  margin-left: 28vw;
  border-bottom: 2px solid #262324;
  margin-bottom: 8vh;
}
/*this buttons are from https://uiverse.io/adamgiebl/rude-bear-14*/

.button-nav {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #725AC1;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #725AC1;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #725AC1;
}

.button-nav:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #725AC1;
}

.button-nav:active {
  transform: scale(0.9);
}

